.manager-detail{
}

.text-center{
    text-align: center;
}

.edit-detail{
    cursor: pointer;
}

.employee-table{
    padding: 10px;
}

.detail-container{
   margin-top: 20px;
}

.edit-text{
    line-height: 30px;
    font-weight: 400;
}