.margin-top{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
.employee{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-align: center;
}

.manager-detail{
    color:blue;
    cursor: pointer;
    text-decoration: underline;
}